<a class="nav-link" [routerLink]="['/parcel/new']" routerLinkActive="active"
  style="margin-top: 20px; font-size:x-large;"> +
  Nueva Parcela</a>
<div *ngIf="parcelData.length == 0" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
  </div>
</div>
<ul *ngIf="parcelData.length" class="list-group mw-25 mt-3 card">
  <div class="card-header h2" style="background-color: #41C219; text-align: center; padding-bottom: 15px;">
    Parcelas
  </div>
  <li type="button" class="list-group-item" *ngFor="let data of parcelData" style="padding: 0px;">
    <div class="card-header h3" style="background-color: #8BF76A; text-align: center; padding-bottom: 15px;">
      Parcela : {{data.parcelId}}
    </div>
    <a [routerLink]="['/parcel', data.parcelId]" routerLinkActive="active"
      class="text-reset text-decoration-none pt-2 pb-2 d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <img src="assets/tomate.jpg" alt=""
          style="border-radius: 200%; padding: 20px; align-items:flex-end; height: 60%; width: 60%;">
      </div>
      <div style="margin-right: 10%; margin-top: 20px;">
        <h4>Ph: {{data.ph}}</h4>
        <h4>Tipo de suelo : {{data.soilType}}</h4>
        <h4>Tamaño: {{data.size}}</h4>
      </div>
    </a>
  </li>
</ul>