<h2 style="margin-bottom: 10px; margin: 20px;">Nueva Parcela</h2>
<div class="container-sm">
    <div style="text-align: center; background-color: #41C219; padding: 5px;"> <h3>Carga de Datos</h3></div>
    <div style="background-color: #8BF76A; padding: 20px;">
        <h5>Tamaño parcela: </h5>
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
    </div>
    <div style="background-color: #8BF76A; padding: 20px;">
        <h5>Tipo de suelo: </h5>
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
    </div>
    <div style="background-color: #8BF76A; padding: 20px;">
        <h5>Ph del suelo: </h5>
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        <div style="display: flex; justify-content: space-around; margin-top: 20px;">
            <div><button type="button" class="btn btn-secondary btn-lg">Cancelar</button></div>
            <div><button type="button" class="btn btn-primary btn-lg">Registrar</button></div>
        </div>
    </div>
    
</div>

<h4 style="margin-top: 70px;">Somos Harvest.io</h4>

<div class="card-group" style="margin-top: 30px;">
    <div class="card">
      <img src="assets/imagen1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vegetales de la temporada</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Frutas de la temporada</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/imagen3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recomendaciones personalizadas</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>