<br>
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('assets/imagen3.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(96, 70%, 82%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Inicia sesión ahora</h2>
            <form>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" placeholder="Correo Electrónico" />
                
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" placeholder="Contraseña" />
                
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribite a nuestro newsletter
                </label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Ingresar
              </button>
            </form>
            <p>Al iniciar sesión o crear una cuenta, aceptás nuestras <br> Políticas de Privacidad y Términos y Condiciones</p>
          </div> 
        </div>
      </div>
    </div>
    <p class="mb-0">¿No posee una cuenta?</p>
    <a href="http://localhost:4200/login/contact" class="text-center text-decoration-none">Contáctenos</a>


  </section>
  <!-- Section: Design Block -->