<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 
        <img src="assets/loguito.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Huertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sensor']" routerLinkActive="active">Sensores</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/parcel']" routerLinkActive="active">Parcelas</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Humedad</a></li>
              <li><a class="dropdown-item" href="#">Temperatura ambiente</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Algo acá</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Gráfico de temperatura</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <main class="container flex-grow-1">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-dark text-white mt-3 py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Harvest.io</h5>
          <p>Pinamar</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="text-white">Términos de uso</a>
          <span class="mx-2">|</span>
          <a href="#" class="text-white">Política de privacidad</a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col text-center">
          <p>&copy; 2023 Harvest.io. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
</div>