<div class="container mt-2">
  <button [disabled]="!parcel.parcelId" type="button" class="btn btn-outline-primary me-2" (click)="activateEdit()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
      viewBox="0 0 16 16">
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
      <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </svg>
    Editar
  </button>
  <button [disabled]="!parcel.parcelId" type="button" class="btn btn-outline-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
      viewBox="0 0 16 16">
      <path
        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z">
      </path>
      <path
        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z">
      </path>

    </svg>
    Eliminar
  </button>
</div>

<div class="container">
  <form class="needs-validation" *ngIf="parcel.parcelId" [formGroup]="parcelForm">
    <input id="parcelId" name="parcelId" formControlName="parcelId" class="form-control form-control-lg mt-5"
      type="text" placeholder="Identificador de la parcela" aria-label=".form-control-lg parcel id">
    <input id="soilType" name="soilType" formControlName="soilType" class="form-control mt-3" type="text"
      placeholder="Tipo de suelo" aria-label="soil type" [class.is-invalid]="parcelForm.get('soilType')!.invalid"
      required>
    <div class="invalid" *ngIf="parcelForm.get('soilType')!.errors?.['required']">
      Tipo de suelo es requerido.
    </div>
    <input id="size" formControlName="size" class="form-control form-control-sm mt-2" type="text" placeholder="Tamaño"
      aria-label=".form-control-sm example">
    <input id="ph" formControlName="ph" class="form-control form-control-sm mt-2" type="text" placeholder="Ph"
      aria-label=".form-control-sm example">
  </form>
  <button *ngIf="isEditView" class="btn btn-outline-success mt-3" type="submit"
    [disabled]="parcelForm.invalid">Guardar</button>
</div>