<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgEG8y9dBxjDLxOspBXKtor6_qx9rpY5oXd8qF810dJbDHnU69NxE8-Y1-NDomYK4jSC4JV2SovjcBMLvz4tEXjlzGJ1VarT8EHl9nJF3IBZyOY7m6f1jIASFA8Y8Cl96DZB0LuBdBqhIkH1wnRIIGaoOsw6t-ZGj2MH_7jhZZl4mINgTZRnuKnGSIp/w1200-h675-p-k-no-nu/f1456x819-1211986_1382356_5626.jpg');
    height: 100vh;
  ">
  
  <h3 class="mb-5 text-uppercase" style="padding-top: 45%; padding-right: 55%; font-size: 50px; color: #cfe4c8;">
    A un paso de tu <br> huerta ideal</h3> 
  
  
  
  </div>
  


<!-- Background image -->






<section class="h-100" style="background-color: hsla(96, 70%, 82%, 0.8)">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://i.pinimg.com/564x/07/7c/d9/077cd941c1733d88f753f84433b1aac2.jpg"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6" style="background-color:  hsla(96, 71%, 45%, 0.8)">
                <div class="card-body p-md-5 text-light">
                  <h3 class="mb-5 text-uppercase">Formulario de Contacto</h3>
                  <p>En este formulario podés contactarnos para poder solicitar una cuenta, así podemos 
                    asesorarte de la mejor manera.

                  </p>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">Nombre</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Apellido</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m1">DNI</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n1">Teléfono</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Correo eléctronico</label>
                  </div>
  
                  <div class="d-flex justify-content-center pt-3">
                    <button type="button" class="btn btn-secondary" style="margin-right: 10px;">Cancelar</button>
                    <button type="button" class="btn btn-success">Enviar formulario</button>

                  </div>
                  <br>
                  <a href="http://localhost:4200/login" class="text-center text-decoration-none" style="margin-left: 25%;">Ya tenés una cuenta? Inicia sesión</a>
                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

