<div>
    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.elsoldemexico.com.mx%2Fdoble-via%2Fecologia%2Fi6aok6-huerto.jpg%2FALTERNATES%2FLANDSCAPE_960%2FHUERTO.jpg&tbnid=3UpqiDXtKIWrqM&vet=12ahUKEwilze73geL-AhXdrJUCHfUdDx0QMygDegUIARCXAQ..i&imgrefurl=https%3A%2F%2Fwww.elsoldemexico.com.mx%2Fdoble-via%2Fecologia%2Faprende-a-crear-tu-propio-huerto-en-casa-ecologia-jardineria-cultivos-6313341.html&docid=whgLu1UNpRM4vM&w=960&h=599&itg=1&hl=es-419&ved=2ahUKEwilze73geL-AhXdrJUCHfUdDx0QMygDegUIARCXAQ" alt="imagen de huerta" height="100px" width="100px
    ">
</div>
<div style="background-color: 8BF76A;">
    <h3>Bienvenido otra vez, a su huerta móvil !</h3>
</div>
<div>
    
</div>


<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  