<div *ngIf="sensorData.length == 0" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
  </div>
</div>
<ul *ngIf="sensorData.length" class="list-group mw-25 mt-3 card">
  <div class="card-header h4">
    Sensores
  </div>
  <li type="button" class="list-group-item" *ngFor="let data of sensorData">
    <a [routerLink]="['/sensor', data.sensorId]" routerLinkActive="active"
      class="text-reset text-decoration-none pt-2 pb-2 d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{data.sensorId}}</div>
      </div>
      <span class="badge bg-primary rounded-pill">{{data.soilMoisture}}</span>
    </a>
  </li>
</ul>
